
{% include "header2.html" %}


    <h1 class="itsnotes">Save your To Do List here !</h1>



{%for notes in notelist%}
        <div id="bar4" class="container-fluid">
            <p>{{ notes|safe }}</p>
        </div>
{%endfor%}


<div id="bar3" class="container-fluid">
    <form method="post">
    <div class="form-group">
        {% if not current_user.is_authenticated: %}

        <label for="exampleFormControlTextarea1">type here | Sign Up for more notes !</label>

        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit" name="submit_button" class="btn btn-warning" value="1">Add Notes</button>
        <button type="submit" name="submit_button" class="btn btn-warning" value="2">Save Notes</button>
        {% else: %}
        <p>Go to Dashboard to see your notes !</p>
        {% endif %}

    </div>
    </form>
</div>

{% include "footer.html" %}